/* More compact aspect */
.shiny-input-checkboxtree ul,
.shiny-input-checkboxtree * ul {
  list-style-type: none;
  padding-left: 17px;
}
.shiny-input-checkboxtree * .toggle {
  margin-left: -18px; /* this aligns the toggle icons with the boxes */
}
.shiny-input-checkboxtree * .checkbox {
  margin-bottom: 3px;
  margin-top: 3px;
}

/* Display checkboxes directly after toggles */
  .shiny-input-checkboxtree * .shiny-options-group {
    display: inline-block;
    margin-bottom: 0;
  }

/* Nicely formatted toggle handles */
  .shiny-input-checkboxtree * a:hover {
    text-decoration: none;
  }
.shiny-input-checkboxtree * .toggle:after {
  font-family: 'Glyphicons Halflings';
  content: '\\e252'
}
.shiny-input-checkboxtree * .toggle.collapsed:after {
  content: '\\e250'
}
