/* More compact aspect */
.shiny-input-checkboxtree ul {
  list-style-type: none;
  padding-left: 17px;
}
.shiny-input-checkboxtree .toggle {
  /* align the toggle icons with the boxes */
  margin-left: -18px;
}
.shiny-input-checkboxtree .checkbox {
  /* make spacing equal to successive checkboxes in checkboxGroupInput */
  margin-top: 0;
  margin-bottom: 5px;
}

/* Display checkboxes directly after toggles */
.shiny-input-checkboxtree .shiny-options-group {
  display: inline-block;
}

/* Nicely formatted toggle handles */
.shiny-input-checkboxtree a:hover {
  text-decoration: none;
}
.shiny-input-checkboxtree .toggle:after {
  font-family: 'Glyphicons Halflings';
  content: '\e252'
}
.shiny-input-checkboxtree .collapsed.toggle:after  {
  content: '\e250'
}
